<h1>Eat your burger!!!</h1>
<h2>Good for your taste buds and your soul!</h2>

<center><img src = "/assets/img/three-burgers.jpg" alt = "three-burgers"></center>

<div class = "container">
    <form class = "create-burger">
        <div class="form-group">
            <center><label for="burgerName">Please type in the name of your burger!</label></center>
            <input type="text" class="form-control" id="burgerName">
            <small id="burgerHelp" class="form-text text-muted">We'll post your new burger below.</small>
        </div>
        <center><button type="submit" class="btn btn-primary">Submit this burger!</button></center>
    </form>
</div>

<div class = "container">
    <div class = "row">
        <div class = "col-sm" id = "column1">
            <h2>Burgers to Devour</h2>
            <ul class = "burgerUndevoured">
                {{#each burgers}}
                    {{#unless devoured}}
                        <li>
                            {{burger_name}}
                            <button class="change-devoured" data-id = "{{id}}" data-newdevoured = "{{devoured}}">
                                Eat this burger!!!
                            </button>
                        </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class = "col-sm" id = "column2">
            <h2>Burgers Devoured</h2>
            <ul class = "burgerDevoured">
                {{#each burgers}}
                    {{#if devoured}}
                        <li>{{burger_name}}</li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>